.events > .event .meta {
  font-size: 1.3em;
  font-weight: bold;
}

.modal .event {
  .main > .image {
    text-align: center;
  }
  .info > div {
    float: left;
    padding-right: 1em;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    > span.add {
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}
